[Unit]
Description=PhonePi daemon for calls handling
After=ofono.service

[Service]
User=alarm
ExecStart=/bin/calls_daemon

[Install]
Alias=calls-daemon.service
