.idea/
CMakeCache.txt
CMakeFiles/
block-apps.cbp
block/block-pi
block/block-pi.cbp
block/block-pi_automoc.cpp
cmake-build-debug/
cmake_install.cmake
install_manifest.txt
unblock/.idea/
unblock/CMakeFiles/
unblock/cmake-build-debug/
unblock/cmake_install.cmake
unblock/unblock-pi
unblock/unblock-pi.cbp
unblock/unblock-pi_automoc.cpp

